@import "../Shared.scss";

.contactIcon {
  margin: 10px;
}

.contactIcon svg {
  fill: #333;
  transition-duration: 0.7s;
}

.contactIcon:hover svg,
.contactIcon:active svg {
  fill: $seasalt;
}

#Portfolio a,
#Services a {
  transition-duration: 0.2s;
  text-decoration: none;
  font-weight: 600;
  color: $pennRed;
}

#Portfolio a:hover,
#Portfolio a:active,
#Services a:hover,
#Services a:active {
  color: $seasalt;
}
