@import "../Shared.scss";

.line {
  position: absolute;
  height: 10vh;
  width: 100vw;
  background-color: $seasalt;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

.line.animate.left {
  animation-name: lineTransitionLeft;
}

.line.animate.right {
  animation-name: lineTransitionRight;
}

@keyframes lineTransitionLeft {
  0% {
    left: -100vw;
  }
  100% {
    left: 0vw;
    background-color: $kellyGreen;
  }
}

@keyframes lineTransitionRight {
  0% {
    right: -100vw;
  }
  100% {
    right: 0vw;
    background-color: $kellyGreen;
  }
}

.line1 {
  left: -100vw;
  top: 0;
}

.line2 {
  right: -100vw;
  top: 10vh;
}

.line3 {
  left: -100vw;
  top: 20vh;
}

.line4 {
  right: -100vw;
  top: 30vh;
}

.line5 {
  left: -100vw;
  height: 11vh;
  top: 40vh;
}

.line6 {
  right: -100vw;
  top: 50vh;
}

.line7 {
  left: -100vw;
  top: 60vh;
}

.line8 {
  right: -100vw;
  top: 70vh;
}

.line9 {
  left: -100vw;
  top: 80vh;
}

.line10 {
  right: -100vw;
  top: 90vh;
}

.line.delay {
  animation-delay: 0.2s;
}

.line.delay2 {
  animation-delay: 0.4s;
}

.line.delay3 {
  animation-delay: 0.6s;
}

.line.delay4 {
  animation-delay: 0.8s;
}

@media only screen and (max-width: 488px) {
  .line {
    animation-duration: 0.5s;
  }

  .line.delay {
    animation-delay: 0.1s;
  }

  .line.delay2 {
    animation-delay: 0.2s;
  }

  .line.delay3 {
    animation-delay: 0.3s;
  }

  .line.delay4 {
    animation-delay: 0.4s;
  }
}
