.navigation {
  position: fixed;
  z-index: 100;
}

.navigation .MuiButton-root {
  border-color: #eee;
  color: #eee;
  background-color: #333;
}

.navigation .MuiButton-root:hover,
.navigation .MuiButton-root:active {
  border-color: #333;
  color: #333;
  background-color: #eee;
}
