@import "../Shared.scss";

.stripe {
  position: absolute;
  top: -100vh;
  width: 0px;
  height: 100vh;
  background: $kellyGreen;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  margin: 0 50%;
}

.stripe.animate {
  animation-name: stripeTransition;
}

@keyframes stripeTransition {
  0% {
    width: 1px;
  }
  40% {
    width: 1px;
    top: 0px;
    margin: 0 50%;
  }
  100% {
    top: 0px;
    width: 100vw;
    margin: 0;
  }
}

.stripe.delay {
  animation-delay: 0.2s;
}

.stripe.delay2 {
  animation-delay: 0.4s;
}
