.triangle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 0px;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}

.triangle.animate {
  animation-name: triangleTransition;
}

@keyframes triangleTransition {
  0% {
    width: 0px;
    height: 0px;
    rotate: 0deg;
  }
  //   40% {
  //     width: 1px;
  //     top: 0px;
  //     margin: 0 50%;
  //   }
  100% {
    rotate: 270deg;
    width: 700vw;
    height: 700vh;
  }
}

.triangle.delay {
  animation-delay: 0.1s;
}

.triangle.delay2 {
  animation-delay: 0.25s;
}

.triangle.delay3 {
  animation-delay: 0.35s;
}

.triangle.delay4 {
  animation-delay: 0.45s;
}

// .delay5 {
//   animation-delay: 1.1s;
// }

// .delay6 {
//   animation-delay: 1.3s;
// }
